
body,body * {
  vertical-align:baseline;
  border:0 none;
  outline:0;
  margin:0;
  padding:0;
}

.main {
  display: block;
  margin: 50px;
  height: 600px;
  width: 160px;
  background-color: #ecf0f1;
  border-color: #ecf0f1;
  border-style: solid;
  border-width: 1px;
  position: relative;
}


#image {
  position: absolute;
  width: 160px;
  height: 600px;
  left: 0;
  top: 0;
}

#wrapper {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  left: 9px;
  height: auto;
}

.hidden {
  visibility: hidden;
}

.active {
  visibility: visible;
}

#logo {
  position: absolute;
  top: 20px;
  left: 26px;
  transform: scale(0.9);
  z-index: 10;
}

#copyContainer {
  position: absolute;
  /*bottom: 30px;*/
  width: auto;
  text-align: left;
}

#copyContainer span {
  padding: 10px 6px 4px 9px;
  font-size: 14px;
  color: black;
  position: relative;
  line-height: 32px;
  letter-spacing: 4px;
  font-family: "CalibreLight";
  background-color: white;
}


#ctaContainer {
  border: 2px solid white;
  display: table;
  text-align: center;
  top: 540px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

#blur{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-filter: blur(10px);
  filter: url('/media/blur.svg#blur');
  filter: blur(3px);
}

#ctaContainer p {
  top: 2px;
  color: white;
  position: relative;
  letter-spacing: 1px;
  font-size: 11px;
  margin: 7px 11px;
  font-family: "CalibreBold";
  z-index: 100;
}

#ctaContainer:hover {
  cursor: pointer;
}

#shipping{
  left: 6px;
  bottom: 7px;
  position: absolute;
  font-family: "CalibreLight";
  color: white;
  z-index: 100;
  letter-spacing: 2px;
  font-size: 8px;
}
