body,body * {
  vertical-align:baseline;
  border:0 none;
  outline:0;
  margin:0;
  padding:0;
}
.main {
  display: block;
  margin: 50px;
  width: 250px;
  height: 250px;
  background-color: #ecf0f1;
  border-color: #ecf0f1;
  border-style: solid;
  border-width: 1px;
  text-align: center;
  position: relative;
}


#image {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 0;
  top: 0;
}

#wrapper {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
}

.hidden {
  visibility: hidden;
}

.active {
  visibility: visible;
}

#logo {
  position: absolute;
  top: 13px;
  z-index: 10;
  transform: scale(0.9);
}

#copyContainer {
  position: absolute;
  width: auto;
}

#copyContainer span {
  padding:8px 8px 4px 11px;
  font-size: 12px;
  color: black;
  position: relative;
  line-height: 26px;
  letter-spacing: 3px;
  font-family: "CalibreLight";
  background-color: white;
}


#ctaContainer {
  border: 2px solid white;
  display: table;
  text-align: center;
  bottom: 20px;
  position: absolute;
  overflow: hidden;
}

#blur{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -webkit-filter: blur(10px);
  filter: url('/media/blur.svg#blur');
  filter: blur(3px);
}

#ctaContainer p {
  color: white;
  top: 2px;
  left: 0;
  position: relative;
  letter-spacing: 2px;
  font-size: 12px;
  margin: 7px 13px;
  font-family: "CalibreBold";
  z-index: 100;
}

#ctaContainer:hover {
  cursor: pointer;
}
#shipping{
  bottom: 5px;
  position: absolute;
  font-family: "CalibreLight";
  color: white;
  z-index: 100;
  letter-spacing: 2px;
  font-size: 7px;
}
